*{
    margin:0;
    padding:0;
    font-weight: bold;
}
#grid{
    display:grid;
    grid-template-columns: auto auto auto auto;
    width: 300px;
   
    margin:100px auto auto auto;
    border:1px solid black;
    gap:2px;
    padding: 10px;
    border-radius: 5px;
    background-color: #b8b9bb;
}
#tit{
    grid-column: 1/5;  
}
#display{
    max-width: 260px;
   grid-column: 1/5; 
   padding:20px 20px;
   border:1px solid black;
   border-radius: 5px;
   background-color: white;
   
}
#display2{
    overflow-wrap: break-word;
    text-align: right;
    padding: 10px;
    height: 1em;
}
#display1{
    overflow-wrap: break-word;
    text-align: right;
    padding: 10px;
    height: 1em;
}
.btn{
    padding:20px 20px;
    border-radius: 2px;
    border: none;
}
.btn:hover{
    background-color: #c7c2c2;
    cursor:pointer;
   
}
#equal{
 grid-column: 3 / 5;
}